.admin-panel-main {
    background-color: #282c34;
    height: max-content;
    display: flex;
    flex-direction: column;

    .admin-panel-title {
        color: white;
        text-align: center;
    }    

    .admin-panel-cards-sect {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}